/* Basic Styles */
body, html {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #007BFF;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.navbar .logo {
    font-size: 24px;
    font-weight: bold;
}

.navbar .nav-links .nav-item {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

.features {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: left;
}

/* Light Theme */
.light-theme {
    --background-color: #FFF;
    --text-color: #333;
    --primary-color: #007BFF;
}

/* Dark Theme */
.dark-theme {
    --background-color: #333;
    --text-color: #FFF;
    --primary-color: #1E88E5;
}

body.light-theme {
    background-color: var(--background-color);
    color: var(--text-color);
}

body.dark-theme {
    background-color: var(--background-color);
    color: var(--text-color);
}

.navbar.light-theme, .navbar.dark-theme {
    background-color: var(--primary-color);
}

/* Hero and Heading Styles */
.hero {
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 2px solid #eaeaea;
    margin-bottom: 20px;
}

h1, h2, h3 {
    font-weight: 500;
}

h1 {
    font-size: 28px;
    color: #0056b3;
}

h2 {
    font-size: 24px;
    color: #004494;
    margin-bottom: 10px;
}

h3 {
    font-size: 20px;
    color: #333333;
    margin-bottom: 5px;
}

button {
    display: inline-block; /* Allows buttons to sit side by side */
    margin-right: 10px;
    padding: 4px 20px; /* Comfortable padding */
    font-size: 14px; /* Suitable font size */
    border: none; /* No border */
    border-radius: 50px; /* High border-radius for pill shape */
    background-color: #17a2b8; /* Sleek, techy teal color */
    color: white; /* White text for contrast */
    cursor: pointer; /* Cursor pointer to indicate it's clickable */
    display: inline-block; /* Inline-block for better control over positioning */
    margin-right: 10px; /* Margin to the right to space out multiple buttons */
}

button:hover {
    background-color: #138496;
}

input, textarea {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}