#app{
    height: 100vh;
    width: 100%;
    position: relative;
}

body{
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif; /* Default font family */
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif; /* Headers */
  }
  
  p, a, input, button {
    font-family: 'Open Sans', sans-serif; /* Body text, links, form elements */
  }
  
/* styles.css */

.logo {
    font-family: 'Exo', sans-serif; /* Apply Exo font */
    font-size: 36px; /* Adjust the font size as needed */
    font-weight: 700; /* Adjust the font weight as needed */
    color: #333; /* Adjust the color as needed */
    /* Add any additional styling for your logo */
  }
  
  