.doc-types-page {
    max-width: 960px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    color: #333333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.doc-type-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.doc-type-controls select, .doc-type-controls button {
    padding: 10px 15px;
    font-size: 16px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    cursor: pointer;
}

.doc-type-controls button {
    background-color: #17a2b8;
    color: white;
    margin-left: 10px;
}

.doc-type-controls button:hover {
    background-color: #138496;
}


.doc-type-description {
    background-color: white;
    padding: 15px;
    margin: 10px 0;
    border-radius: 4px;
    font-size: 18px;
}


.doc-types-page h1{
    text-align: center;
}


/* Button that triggers the dropdown */
.link-field-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 16px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

/* Dropdown Menu styles */
.dropdown-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0,0,0,0.15);
    width: 210px; /* Adjust width as needed */
    max-height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.dropdown-item {
    border-bottom: 1px solid #eee;
}

.dropdown-item:last-child {
    border-bottom: none;
}

.dropdown-item button {
    background: none;
    border: none;
    width: 100%;
    text-align: left;
    color: #333;
    font-size: 14px;
    cursor: pointer;
    border-radius: 0;
}

.dropdown-item button:hover {
    background-color: #f8f9fa;
}

/* Optional: Add transition for better hover effect */
.dropdown-item button {
    transition: background-color 0.3s ease;
}

#doc-tooltip{
    position: absolute;
    top: 15px;
    right: 15px;
}

.emptytext{
    width: 100%;
    height: 50px;
    align-content: center;
    text-align: center;
    color: gray;
}